<div class="container mt-5 d-flex justify-content-center">
  <div class="col-12 col-lg-8">
  <div class="card text-sm-start text-start">
    <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item">
          <a class="nav-link" aria-current="true" routerLinkActive="active" routerLink="/admin/products">Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/admin/userlist" routerLinkActive="active">Users</a>
        </li>
      </ul>
    </div>
    <div class="card-body">
      <router-outlet></router-outlet>
    </div>
  </div>
  </div>
</div>
