<div class="col-lg-12 col-md-12 col-12 mt-2">
  <div class="row">
    <div class="col-lg-4">
      <p class="fw-bold fs-5">{{item.product_name}}</p>
      <p class="fw-bold fs-6">€{{item.total}}</p>
    </div>
    <div class="col-lg-6">
      <div class="row justify-content-center">
          <button class="btn btn-success col-lg-2" (click)="addQuantity()">+</button>
          <p class="fs-6 mt-3 col-lg-2 text-center" >{{item.quantity}}</p>
          <button class="btn btn-danger col-lg-2" (click)="subtractQuantity()">-</button>
      </div>
    </div>
  </div>
</div>
