<div class="container">
  <div class="row-cols-md-1">
    <div class="card">
      <div class="card-header" *ngIf="this.idPresent">
        <div class="d-flex gap-2">
          <button class="btn btn-warning" routerLink="../../">Terug</button>
          <h1>Editing {{product.product_name}}</h1>
        </div>
      </div>
      <div class="card-header" *ngIf="!this.idPresent">
        <div class="d-flex gap-2">
          <button class="btn btn-warning" routerLink="../">Terug</button>
          <h1>Adding Product</h1>
        </div>
      </div>
      <div class="card-body">
        <form [formGroup]="productForm" (ngSubmit)="submitForm()" *ngIf="productForm">
          <div class="input-group mb-3">
            <label class="input-group-text col-2">Product name</label>
            <input class="form-control" type="text" formControlName="product_name"
                   [ngClass]="{'is-invalid': submitted && productForm.controls['product_name'].errors}"
                   required>
          </div>
          <div class="input-group mb-3">
            <label class="input-group-text col-2">Rating</label>
            <input class="form-control" type="number" formControlName="product_rating"
                   [ngClass]="{'is-invalid': submitted && productForm.controls['rating'].errors}" required>
          </div>
          <div class="input-group mb-3">
            <label class="input-group-text col-2">Price</label>
            <input class="form-control" type="number" formControlName="price"
                   [ngClass]="{'is-invalid': submitted && productForm.controls['price'].errors}">
          </div>
          <div class="input-group mb-3">
            <label class="input-group-text col-2">Description</label>
            <textarea class="form-control" type="text" formControlName="description"
                      [ngClass]="{'is-invalid': submitted && productForm.controls['description'].errors}"></textarea>
          </div>
          <div class="d-flex justify-content-end">
            <button *ngIf="!idPresent" class="btn btn-success ">Add</button>
          </div>
          <div *ngIf="idPresent" class="d-flex justify-content-end">
            <button class="btn btn-primary">Edit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
