<div class="container mt-2">
  <div class="d-flex flex-row column-gap-lg-5 justify-content-between">
    <img [src]=product.image!.image_url alt="..." class="w-25 h-25 align-self-center">
    <h3 class="fs-5 d-flex align-self-center">{{product.product_name}}</h3>
    <div class="col-5 col-md-3 col-lg-2 d-flex align-self-center">
      <button class="btn btn-warning me-2 p-md-3 p-xl-4" [routerLink]="[product.id,'edit']"><i class="bi-pencil"></i></button>
      <button class="btn btn-danger p-md-3 p-xl-4" (click)="deleteProduct(product.id)"><i class="bi-trash"></i></button>
    </div>
  </div>
</div>
